.button_type_like {
    background-image: url("../../../Images/cards/card-Vector.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 22px;
    height: 19px;
    border: none;
    padding: 0;
    font-size: 23px;
    cursor: pointer;
    transition: .5s;
}

.button_type_like:hover {
    opacity: .5;
}

.button_type_like:active {
    background-image: url('../../../Images/cards/like_active.svg');
}

