.button_type_save {
    background-color: #000;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 14px;
    transition: .5s;
}

.button_type_save:hover {
    cursor: pointer;
    opacity: .8;
}

@media screen and (min-width: 768px) {
    .button_type_save {
        font-size: 18px;
        line-height: 22px;
    }
}