.popup__button {
    background-image: url('../../../Images/Close\ Icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 65px;
    right: 18px;
    border: none;
    transition: .5s;
}

.popup__button:hover {
    opacity: .6;
}


@media screen and (min-width:768px){
    .popup__button {
        top: 115px;
        right: 115px;
        width: 32px;
        height: 32px;
    }
}


@media screen and (min-width:1280px)  {
    .popup__button {
        top: 110px;
        right: 190px;
        width: 32px;
        height: 32px;
    }
}