.button__add {
    /* width: 100%; */
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    padding: 13px 133px;
    transition: .5s;
    cursor: pointer;
    /* background-image: url('../../../Images/plus-vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
}

.button__add:hover {
    opacity: .6;
}


@media screen and (min-width: 768px) {
    .button__add {
        padding: 14px 64px;
        justify-self: end;
        margin-right: 0;
    }
}   