.button__edit {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    padding: 0;
}