.form__error {
    font-weight: 400;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    min-height: 12px;
    margin-bottom: 30px;
    opacity: 0;
    text-align: left;
    
    /* visibility: hidden; */
}
 
.form__error:last-child {
    margin-bottom: 13px;
} 